// Common to all section
[id^='chi-section'] {

    opacity: 0;
    transition: opacity 1.5s ease;
    &.chi-visible {
        opacity: 1;
    }

    overflow-y: hidden;

    &>section {
        @include content-container();

        text-align: justify;
        font-size: $section-font-size;

        &>h1 {
            font-family: $font-family-cursive;
        }

        & h1 {
            text-align: center;
            margin-bottom: 2rem;
            font-size: $section-h1-size;
        }

        & h2 {
            margin-bottom: 1rem;
            font-size: $section-h2-size;
        }
    }

    @include media-breakpoint-down(md) {
        &>section {
            padding: 1rem 1rem;
            margin-left: $sidebar-hmargin;
        }
    }
}
.chi-section-sep {
    @extend .container-fluid;
    border-bottom: pixel-to-rem() dashed lighten( $page-color, 10% );
}

// Per section settings
#chi-section-landing {
    background-color: $page-color;
    text-align: center;
    & h1 {
        font-size: $section-landing-h1-size;
    }
    & h2 {
        font-family: $font-family-cursive;
    }
}
#chi-section-about {
    background-color: lighten( $page-color, 10% );
}
#chi-section-front-end {

}
#chi-section-back-end {
    background-color: lighten( $page-color, 10% );
}
#chi-section-custom {

}
#chi-section-mobile {
    background-color: lighten( $page-color, 10% );
}
#chi-section-portfolio {
}
#chi-section-partenaires {
    & .chi-card {
        transform: translateY( 4rem );
        transition: transform 1.0s ease;
        &.visible {
            transform: translateY( -0rem );
        }
        & div {
            text-align: center;
            margin-bottom: 1rem;
            font-size: $section-h2-size;
        }
        & img {
            margin: auto;
            display: block;
            @extend .chi-round-img-200 ;
        }
    }
}
#chi-section-competences {

    background-color: lighten( $page-color, 10% );
    & ul {
        @extend .row;
        list-style-type: none;
        &>li {
            @extend .col-sm-2;
            min-width: 10rem;
            margin-bottom: 3rem;
            & h3 {
                display: inline;
            }

            & img {
                border: pixel-to-rem( ) solid $sidebar-color;
                border-radius: pixel-to-rem( 4 );
            }

            transform: translateY( 4rem );
            transition: transform 1.0s ease;
            &.visible {
                transform: translateY( -0rem );
            }
        }
    }


}
#chi-section-contact {
    background-color: lighten( $page-color, 10% );


    & form>div {
        @extend .form-group ;
        @extend .row;

        &>label {
            @extend .col-md-2;
        }
        &>div {
            @extend .col-md-10;
        }
    }
}
