[id^='chi-section'] {
    @extend .col-md-12;
    margin-top: $section-hmargin / 2;
    margin-bottom: $section-hmargin / 2;
}
.chi-section-sep {
    @extend .col-md-12;
    border-bottom: (1 / 16) + rem dashed lighten( $page-color, 20% );
}
#chi-section-landing {
    @extend .container;
    text-align: center;
    & h2 {
        font-family: $font-family-cursive;
    }
    min-height: 40rem;
}



.chi-round-img-300 {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}
