// Common to all section
//

[id^='chi-section'] {

    background-color: $section-background-color1;
    opacity: 0;
    transition: opacity 1.5s ease;
    &.chi-visible {
        opacity: 1;
    }

    overflow-y: hidden;
    color: $section-font-color;

    &:not( :last-child ) {
        border-bottom: pixel-to-rem() dashed darken( $page-decoration, 20% );
    }
    &:not( :first-child ) {
        border-top: pixel-to-rem() dashed $page-decoration;
    }

    &>section {

        @include content-container();

        text-align: justify;
        font-size: $section-font-size;

        &>h1 {
            margin-top: 2rem;
        }

        & h1 {
            @include outline-text( );
            text-align: center;
            margin-bottom: 2rem;
            font-size: $section-h1-size;
            font-family: $font-family-cursive;
        }

        & h2 {
            margin-bottom: 1rem;
            font-size: $section-h2-size;
        }

        & ul>li i {
            width: 2rem;
        }

        & p {
            text-indent: 1.5rem;
            text-align: justify;
        }
    }

    @include media-breakpoint-down(md) {
        &>section {
            padding: 1rem 1rem;
            margin-left: $sidebar-hmargin;
        }
    }
}

// Per section settings
#chi-section-landing {

    background-color: $section-background-color1;
    overflow: hidden;




    & section {

        &>#chi-bg-shapes {
            background-color: blue;

            transform:rotateZ(22.5deg);
            transform-origin: top left;
            position: absolute;

            width: 54rem;
            height: 100rem;
            top:-30rem;
            right: -9rem;
            z-index: 0;

            opacity: 0;
            transition: opacity 2.0s ease;
            &.visible {
                opacity: 1;
            }
            background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAAF0lEQVQIW2NkYGCQZGBgeM5AADAOAYUAREYFBuSMALIAAAAASUVORK5CYII=
            ) repeat;
        }

        position: relative;
        @include flex-box( column, space-around, center );

        &>div {
            z-index: 1;

        }

        & header{
            width: 40rem;
            margin-left: auto;
            margin-right: auto;
            margin-top: 4rem;
            padding-bottom: 2rem;
            border-bottom: pixel-to-rem() solid $page-decoration;

            &>div {
                text-align: center;

                &>img {
                    height: 12rem;
                    vertical-align: baseline;
                }

                &>span{
                    display: inline-block;
                    margin-left: 2rem;
                    &>h1 {
                        @include outline-text(  );
                        text-align: left;
                        margin-bottom: 0;
                        font-weight: bold;
                        font-size: $section-landing-h1-size;
                        color: $section-landing-h1-color;
                    }
                }
                margin-bottom: 1rem;
            }


        }
        & h2 {
            @include outline-text();
            text-align: center;
            margin-top: 4rem;
            font-size: 2.5rem;
            font-family: $font-family-cursive;
            font-size: $section-landing-h2-size;
            color: $section-landing-h2-color;
        }
        @keyframes arrowAnim{
             from { opacity: 0; }
             to   { opacity: 1;}
        }
        & i {
            @include outline-text(  );
            font-size:3rem;
            animation: arrowAnim 2s ease-in-out 0s infinite alternate;
        }
    }
}
#chi-section-about {
    background-color: $section-background-color2;
}
#chi-section-front-end {
    background-color: $section-background-color1;
}
#chi-section-back-end {
    background-color: $section-background-color2;
}
#chi-section-custom {
    background-color: $section-background-color1;
}
#chi-section-mobile {
    background-color: $section-background-color2;
}
#chi-section-portfolio {
    background-color: $section-background-color1;
}

#chi-section-competences {

    background-color: $section-background-color2;
    & ul {
        @extend .row;
        list-style-type: none;
        &>li {
            @extend .col-sm-2;
            min-width: 11rem;
            margin-bottom: 1rem;
            & span {
                display: inline;
                font-size: 1rem;
            }

            & i {
                width: 1.2rem;
                color: $section-kill-stars-color;
            }

            & img {
                border: pixel-to-rem( ) solid $page-decoration;
                border-radius: pixel-to-rem( 4 );
            }

            transform: translateY( 4rem );
            transition: transform 1.0s ease;
            &.visible {
                transform: translateY( -0rem );
            }
        }
    }
}
#chi-section-partenaires {
    background-color: $section-background-color1;

    & article {
        transform: translateY( 4rem );
        transition: transform 1.0s ease;
        &.visible {
            transform: translateY( -0rem );
        }

        border-radius: pixel-to-rem( 4 );
        border-top: none;
        & div {
            margin: 1rem;
            text-align: center;
            margin-top: 1rem;
            padding-bottom: 1rem;
            border-top: pixel-to-rem() solid $page-decoration;
            & span {
                font-size: $section-h2-size;
            }

        }
        & img {
            margin: auto;
            display: block;
            @extend .chi-round-img-200 ;
        }
    }
}
#chi-section-contact {
    background-color: $section-background-color2;

    & article>h2 {
        display: inline-block;
        vertical-align: top;
    }
    & article>ul {
        //display: inline-block;
        vertical-align: top;
    }

    & li {
        list-style: none;
    }


    & form {
        margin-top: 2rem;
        &>div {
            @extend .form-group ;
            @extend .row;

            & input, & textarea {
                @extend  .form-control;
            }
            &>label {
                @extend .col-md-3;
            }
            &>span {
                @extend .col-md-9;
            }
        }
        & input[type="submit"] {
            @extend .btn;
            @extend .btn-secondary;
        }
    }
}
