@mixin flex-box( $dir, $axis-align, $cross-axis-alig ) {
    display: flex;
    flex-direction: $dir;
    flex-wrap: nowrap;
    justify-content: $axis-align;
    align-items: $cross-axis-alig;
}
@mixin vertical-line( $side, $gutter-space, $color, $style:solid ) {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    box-shadow:0px 0px 0.4rem darken( $color, 30% );
    @if $side == "right" {
        right: $gutter-space;
        border-right: (1 / 16) + rem $style $color;
        border-left: (1 / 16) + rem $style darken( $color, 30% );
    }
    @else if $side == "left" {
        left: $gutter-space;
        border-right: (1 / 16) + rem $style $color;
        border-left: (1 / 16) + rem $style darken( $color, 30% );
    }
}
