@mixin flex-box( $dir, $axis-align, $cross-axis-alig ) {
    display: flex;
    flex-direction: $dir;
    flex-wrap: nowrap;
    justify-content: $axis-align;
    align-items: $cross-axis-alig;
}
@mixin vertical-line( $side, $gutter-space, $color, $style:solid ) {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    box-shadow:0px 0px 0.4rem darken( $color, 30% );
    @if $side == "right" {
        right: $gutter-space;
        border-right: (1 / 16) + rem $style $color;
        border-left: (1 / 16) + rem $style darken( $color, 30% );
    }
    @else if $side == "left" {
        left: $gutter-space;
        border-right: (1 / 16) + rem $style $color;
        border-left: (1 / 16) + rem $style darken( $color, 30% );
    }
}
@mixin content-container() {
    @extend .container-fluid;
    margin-top:0;
    margin-bottom: 0;
    margin-left: 2 * $sidebar-hmargin + $sidebar-width;
    margin-right: $sidebar-hmargin;
    padding: 2rem 4rem;
}
@function pixel-to-rem( $pixel:1 ) {
    @return ( $pixel / 16 )+rem;
}
