#chi-sidebar {

    $sidebar-font-color-dark: darken( $sidebar-font-color, 20% );
    $sidebar-font-color-ligth: lighten( $sidebar-font-color, 20% );
    $sidebar-color-dark: darken( $sidebar-color, 20% );
    $sidebar-color-ligth: lighten( $sidebar-color, 20% );

    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: $sidebar-hmargin;
    width: $sidebar-width;
    padding: $sidebar-vpadding $sidebar-hpadding;
    background: $sidebar-color;
    border-left: 1px solid $sidebar-color-dark;
    border-right: 1px solid $sidebar-color-dark;
    @include flex-box( column, center, center );

    &:before {
        @include vertical-line( left, $sidebar-hpadding, $sidebar-color-ligth, dashed );
    }
    &:after {
        @include vertical-line( right, $sidebar-hpadding, $sidebar-color-ligth, dashed );
    }
    & .chi-sidebar-menu {
        & ul {
            font-size: $sidebar-font-size;
            list-style-type: none;
            margin: 0;
            padding: 0;
            &.sub-menu {
                padding-left: 1.0rem;
                font-size: $sidebar-font-size / 1.2;
            }
        }
        &>ul>li {
            margin-bottom: 1rem;
        }

        &>ul>li a {
            transition: all 0.5s ease;
            color: $sidebar-font-color;

            &:hover {
                color: $sidebar-font-color-dark;
            }
        }
    }
    & .chi-sidebar-head {
        margin-bottom: 2rem;
    }
    & .chi-sidebar-foot {
        position: fixed;
        bottom: 0;
        width: $sidebar-width - 2 * $sidebar-hpadding;
        margin-bottom: 2rem;
        padding: 0 2rem;
        @include flex-box( row, space-between, center );
        & a {
            font-size: 2rem;
            transition: color 0.5s ease;
            color: $sidebar-font-color-dark;
            &:hover {
                color: $sidebar-font-color;
            }
        }
    }
}
