#chi-sidebar {

    @extend .hidden-md-down;

    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: $sidebar-hmargin;
    width: $sidebar-width;
    background: $sidebar-color;
    border-left: 1px solid $sidebar-color-dark;
    border-right: 1px solid $sidebar-color-dark;

    @include flex-box( column, space-between, center );

    &:before {
        @include vertical-line( left, $sidebar-hpadding, $page-decoration, dashed );
    }
    &:after {
        @include vertical-line( right, $sidebar-hpadding, $page-decoration, dashed );
    }
    & .chi-sidebar-head {
        &>img {
            max-width: 8rem;
        }
        margin-top: 2rem;
    }
    & .chi-sidebar-menu {
        width: 100%;
        height: 100%;
        margin: 0;
        margin-top: 3rem;
        margin-bottom: 2rem;
        padding: 0 3rem;
        font-size: $sidebar-font-size;
        font-weight: bold;
        list-style-type: none;

        // Main menu
        li>div:first-child {
            margin-bottom: .5rem;
            font-size: 1.7rem;
            font-family: $font-family-cursive;
        }



        ul {
            @include outline-text(  );
            margin: 0;
            padding: 0;
            border-left: pixel-to-rem( ) dashed transparentize( $page-decoration, 0.8);
            padding-left: 1.0rem;
            margin-left: .5rem;

            &.sub-menu {
                padding-left: 1.0rem;
                border-left:0;
                font-size: $sidebar-font-size / 1.2;
            }
        }
        ul>li {
            margin-bottom: 0.7rem;
            list-style-type: none;

            & a.active::before {
                position: absolute;
                left: 2.5rem;
                content: "\f101";
                font-family: FontAwesome;
                font-weight: normal;
                font-style: normal;
                display: inline-block;
                text-decoration: inherit;

                text-shadow: none;
                color: transparentize( $page-decoration, 0.8);
            }
        }

         a {
            transition: all 0.5s ease;
            color: $sidebar-font-color-dark;

            &.visible{
                color: $sidebar-font-color;
            }

            &:hover {
                color: $sidebar-font-color;
            }
        }
    }

    & .chi-sidebar-foot {
        width: $sidebar-width - 2 * $sidebar-hpadding;
        margin-bottom: 1rem;
        padding: 0 2rem;
        @include flex-box( row, space-between, center );
        & a {
            @include outline-text( );
            font-size: 2rem;
            transition: color 0.5s ease;
            color: $sidebar-font-color-dark;
            &:hover {
                color: $sidebar-font-color;
            }
        }
    }
}
