#chi-sidebar {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: $sidebar-hmargin;
    width: $sidebar-width;
    padding: $sidebar-vpadding $sidebar-hpadding;
    background: $sidebar-color;
    @include flex-box( column, center, center );

    &:before {
        @include vertical-line( left, $sidebar-hpadding, lighten( $sidebar-color, 20% ), dashed );
    }
    &:after {
        @include vertical-line( right, $sidebar-hpadding, lighten( $sidebar-color, 20% ), dashed );
    }
    & .chi-sidebar-menu {
        & ul {
            font-size: $sidebar-font-size;
            list-style-type: none;
            margin: 0;
            padding: 0;
            &.sub-menu {
                padding-left: 0.5rem;
            }
        }
        &>ul>li {
            margin-bottom: 1rem;
        }

        &>ul>li a {
            transition: color 0.5s ease;
            &:hover {
                color: $gray-light;
            }
        }
    }
    & .chi-sidebar-head {
        margin-bottom: 2rem;
    }
    & .chi-sidebar-foot {
        position: fixed;
        bottom: 0;
        width: $sidebar-width - 2 * $sidebar-hpadding;
        margin-bottom: 2rem;
        padding: 0 2rem;
        color: $gray-light;
        @include flex-box( row, space-between, center );
        & i {
            font-size: 2rem;
            transition: color 0.5s ease;
            &:hover {
                color: white;
            }
        }
    }
}
