.chi-round-img-300 {
    width: 100%;
    height: auto;
    max-width: pixel-to-rem(300);
    border-radius: pixel-to-rem(150);
    border: pixel-to-rem(3) solid $page-decoration;
    margin-bottom: 1rem;
}
.chi-round-img-200 {
    width: 100%;
    height: auto;
    max-width: pixel-to-rem(200);
    border-radius: pixel-to-rem(100);
    border: pixel-to-rem(2) solid $page-decoration;
    margin-bottom: 1rem;
}
.chi-card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: pixel-to-rem(2) solid $page-decoration;
}
.chi-large-text {
    font-size: $font-h3-size;
}
.chi-bold-text {
    font-weight: bold;
}
.chi-float-right {
    float: right;
    margin-left: 2rem;
}
.chi-float-left {
    float: left;
    margin-right: 2rem;
}
.chi-clear-float {
    clear: both;
}
.chi-section-sign {
    &:after {
        content: "\00a7";
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-family: $font-family-cursive;
        font-size: 2rem;
        width: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
