.chi-round-img-300 {
    width: 100%;
    height: auto;
    max-width: pixel-to-rem(300);
    border-radius: pixel-to-rem(150);
    border: pixel-to-rem(1) solid $page-decoration;
    margin-bottom: 1rem;
}
.chi-round-img-200 {
    width: 100%;
    height: auto;
    max-width: pixel-to-rem(200);
    border-radius: pixel-to-rem(100);
    border: pixel-to-rem(1) solid $page-decoration;
    margin-bottom: 1rem;
}
.chi-card {
    //width: pixel-to-rem(400);
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    border-top: pixel-to-rem(1) solid $page-decoration;

    //background-color: $brand-primary-color;
}
.chi-section-sign {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: $font-family-cursive;
    font-size: 1.5rem;
    width: 1rem;
}
