// Global
$font-family-cursive:           'Great Vibes', cursive;

// Sidebar
$sidebar-hmargin: 1rem;
$sidebar-width: 16rem;
$sidebar-hpadding: 0.25rem;
$sidebar-vpadding: 2rem;
$sidebar-font-size: 1.35rem;
$sidebar-color: #373a3c;
$sidebar-font-color: white;

// Section
$section-hmargin: 4rem;

// Section - Landing
$section-landing-h1-size: 4rem;

// Page
$page-color: black;
