// Sidebar
$sidebar-hmargin: 1rem;
$sidebar-width: 16rem;
$sidebar-hpadding: 0.25rem;
$sidebar-vpadding: 2rem;
$sidebar-font-size: 1.35rem;
$sidebar-color: #373a3c;

$section-hmargin: 4rem;

// Global
$background-color: black;
$font-family-cursive:           'Great Vibes', cursive;


// Bootstrap overide
$enable-flex:               false;
$link-color:                 white ;
$link-hover-color:           darken($link-color, 15%);
$link-hover-decoration:         none;

$font-family-sans-serif:     'Open Sans Condensed', sans-serif;
$font-family-base:           $font-family-sans-serif;
