[id^='chi-section'] {
    // Alternate background color
    &:nth-child(2n) {
        background-color: $section-background-color2;
    }
    &:nth-child(2n-1) {
        background-color: $section-background-color1;
    }
    // Setup horizontal dashed separator
    &:not( :last-child ) {
        border-bottom: pixel-to-rem() dashed darken( $page-decoration, 20% );
    }
    &:not( :first-child ) {
        border-top: pixel-to-rem() dashed $page-decoration;
    }
    // Opacity transition
    opacity: 0.5;
    transition: opacity 1.5s ease;
    &.visible {
        opacity: 1;
    }
    overflow: hidden;
    color: $section-font-color;


    >section {
        @include content-container();
        font-size: $font-size;
        line-height: $line-height;

        small {
            display: block;
            font-size: $font-size-small;
            line-height: $line-height-small;
        }

        >h1 {
            margin-top: 2rem;
        }
        h1 {
            @include outline-text( );
            text-align: center;
            margin-bottom: 2rem;
            font-weight: bold;
            font-size: $font-h1-size;
            font-family: $font-family-cursive;
        }
        h2 {
            text-align: center;
            margin-bottom: 1rem;
            font-size: $font-h2-size;
        }
        article h2 {
            padding: 1rem;
            font-weight: bold;
            background-color: rgba( 0,0,0, 0.05);
        }
        ul {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            list-style: none;
            >li {
                &:before {
                    content: "• ";
                    color: transparentize( $section-font-color, 0.2 );
                }
                i {
                   width: 2rem;
                }
            }

        }
        p {
            text-indent: 1.5rem;
        }
    }

}
