.chi-sidebar-bloc{

    @extend .sidebar-shadow;
    $color: darken( $sidebar-color, 6% );
    padding: 1rem 2rem;
    position: relative;
    z-index: 1;
    height: $sidebar-content-top + $sidebar-overlap;
    width: 100%;
    background-color: darken( $sidebar-color, 6% );
    border-left: 1px solid darken( $sidebar-color-border, 6% );
    border-right: 1px solid darken( $sidebar-color-border, 6% );
    left: $sidebar-block-offset;

    &:before {
        @include vertical-line( left, $sidebar-hpadding, $color, dashed );
    }
    &:after {
        @include vertical-line( right, $sidebar-hpadding, $color, dashed );
    }

    &.chi-sidebar-top{
        top: 0;
    }

    &.chi-sidebar-bottom{
        //height: 100rem;
        top: -4*$sidebar-overlap;
    }

}
