
.chi-sidebar-button {
    @extend .hidden-lg-up;

    position: absolute;
    background-color: $sidebar-color;
    border:none;
    border-top: 1px solid #1b0a01;
    border-bottom: 1px solid #1b0a01;
    border-right: 1px solid #1b0a01;
    left: 14rem;
    height: 3rem;
    width: 1.6rem;
    top: 1rem;
    transform: perspective(5px) rotateY(2deg);
    outline:none;
    padding: 0 pixel-to-rem( 2 );

    span {
        background: $sidebar-color-dark;
        border-radius:  pixel-to-rem( 2 );
        content:'';
        display:block;
        height: pixel-to-rem( 3 );
        margin: pixel-to-rem( 6 ) 0;
        transition: all .2s ease-out;
        width:100%;
    }

    &.chi-open {
        span {
            &:nth-child(1) {
                transform: translateY( pixel-to-rem( 9 ) ) rotateZ(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(- pixel-to-rem( 9 ) ) rotateZ(-45deg);
            }
        }
    }
}
