.chi-sidebar-foot {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1rem 2rem;
    line-height: 1rem;
    margin-top: 4rem;
    @include flex-box( row, space-between, flex-end );
    @include footerUpAndBounceAnim;
    & a {
        font-size: $icon-font-size;
        transition: color 0.5s ease, margin 0.25s ease ;
        color: $sidebar-color-dark;
        &:hover {
            margin-bottom: 0.5rem;
            color: $sidebar-font-color;
        }
    }
}
