.chi-sidebar-logo {

    $sidebar-logo-size: 5.5rem;
    position: absolute;
    width: $sidebar-logo-size;
    height: $sidebar-logo-size;
    left: $sidebar-block-offset + $sidebar-width / 2 - $sidebar-logo-size / 2;
    z-index: 1;
    opacity: 0;
    @include logoUpAndBounceAnim;

}
