@import "animations";
#chi-sidebar {
    z-index: 1000;
    position: fixed;
    left: $sidebar-offset;
    width: $sidebar-width;
    

    @import "bloc";
    @import "shear";
    @import "logo";
    @import "content";
    @import "footer";
}
