@import "animations";
#chi-sidebar {

    z-index: 1000;
    position: fixed;
    left: $sidebar-offset;
    width: $sidebar-width;

    .sidebar-shadow {
        box-shadow: 0 0 pixel-to-rem(130) rgba(0, 0, 0, 0.8);
    }


    @import "bloc";
    @import "shear";
    @import "logo";
    @import "content";
    @import "footer";
    @import "button";

}


@import "small";
